<mat-nav-list>

  <a mat-list-item [routerLink]="['login']" routerLinkActive="mat-active">
    <mat-icon mat-list-icon>login</mat-icon>
    <span matLine> login </span>
  </a>

  <a mat-list-item [routerLink]="['home']" routerLinkActive="mat-active">
    <mat-icon mat-list-icon>home</mat-icon>
    <span matLine> home </span>
  </a>

  <a mat-list-item [routerLink]="['account/mei']" routerLinkActive="mat-active">
    <mat-icon mat-list-icon>store</mat-icon>
    <span matLine> account MEI </span>
  </a>

  <a mat-list-item [routerLink]="['account/pj']" routerLinkActive="mat-active">
    <mat-icon mat-list-icon>business</mat-icon>
    <span matLine> account JP </span>
  </a>

</mat-nav-list>
